
/* reset */
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* general */
body {
    background-color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
}
/* nav-bar */
.nav-bar {
    width: 100%;
    height: 70px;
    background-color: #333;
    color: #f1f1f1;
}
/* logo nav-bar */
.btn-toggle-code {
    position: absolute;
    left: 30px;
    line-height: 90px;
    cursor: pointer;
    display: inline-block;
}
.btn-toggle-code img{
    color: #f1f1f1;
    width: 30px;
}
/* liens nav-bar */
.liste-nav {
    width: 100%;
    text-align: center;
}
.item-nav {
    display: inline-block;
    line-height: 70px;
    text-transform: uppercase;
    padding: 0 10px;
    cursor: pointer;
}
.item-nav a {
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 19px;
}
/* bouton hamburger */
.btn {
    width: 40px;
    height: 40px;
    display: none; /* permet de faire disparaitre le bouton lorsque l'écran est supérieur à 650px */
    background-color: #333;
    position: fixed;
    top: 15px;
    right: 15px;
    border-radius: 50%;
    border: 1px solid #999;
    z-index: 200;
    cursor: pointer;
    outline: none;
}
.ligne {
    width: 18px;
    height: 3px;
    border-radius: 5px;
    background-color: #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.ligne::after {
    content: '';
    position: absolute;
    bottom: 8px;
    height: 3px;
    border-radius: 5px;
    width: 100%;
    background-color: #f1f1f1;
    transition: all 0.2s ease-in-out;
}
.ligne::before {
    content: '';
    position: absolute;
    top: 8px;
    height: 3px;
    border-radius: 5px;
    width: 100%;
    background-color: #f1f1f1;
    transition: all 0.2s ease-in-out;
}
.btn.active .ligne::before {
    top: 0;
}
.btn.active .ligne::after {
    bottom: 0;
    transform: rotate(90deg);
}
/* smedia queries */
@media screen and (max-width: 650px) {
    .btn {
        display: block;
    }
    .nav-bar {
        border-bottom: 1px solid #f1f1f1;
    }
    .liste-nav {
        position: relative;
        top: 70px;
        display:none;
    }
    .item-nav{
        display: block;
        background-color: #333;
        margin: 0;
    }
    .liste-nav.active-menu{
        display: block;
    }
}